@font-face {
  font-family: "KyivType Titling";
  src: url("./assets/fonts/KyivTypeTitling-VarGX.ttf") format("truetype");
  font-weight: 400;
}

body {
  background-image: url("public/Screenshot 2022-08-10 at 15.38 1.png");
  background-size: cover;
  background-repeat: no-repeat;
}